<%- include("partials/header") %>

  <!-- Masthead -->
  <header class="masthead">
    <img style="max-width:90%; max-height:90%; padding: 100px 0px 0px 900px; position: absolute;" src="images/logo.PNG">
    <div class="container h-100">
      <div class="row h-100 ">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-white font-weight-bold">negotiatHER</h1>
         <br>
        </div>
        <div class="col-lg-8 align-self-baseline row">
          <p class="text-white-75 font-weight-light mb-5">Negotiate for the salary that you deserve and stay financially literate!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger"  onclick="document.getElementById('id01').style.display='block'">Sign up</a>
          <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <form class="modal-content" action="/" method="POST">
              <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter First Name" name="fname" >
                <input type="text" placeholder="Enter Last Name" name="lname" >

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email">
          
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw">
          
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat">

                <label for="psw-repeat"><b>Occupation</b></label>
                <input placeholder="Occupation" name="occupation">
                
                <label>
                  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>
          
                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
          
                <div class="clearfix">
                 
                  <button type="submit" style="text-align: center" class="signupbtn">Sign Up</button>
                </div>
              </div>
            </form>
          </div>
          
          <script>
          // Get the modal
          var modal = document.getElementById('id01');
          
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
          </script>
        </div>
      </div>
    </div>
    
  </header>

  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class=" mt-0">We've got what you need!</h2>
          <br>
          <p class=" mb-4">Expand your wealth with real-time data on current financial trends and monitor the average salary for your job!</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>

          
          
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
            <h3 class="h4 mb-2">Financial Literacy</h3>
            <p class="text-muted mb-0">Learn how to expand your wealth with personalized banking advice in investing!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
            <h3 class="h4 mb-2">Up to Date</h3>
            <p class="text-muted mb-0">All data, from salaries to banking options, are updated in real-time.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">Be Empowered!</h3>
            <p class="text-muted mb-0">Speak with mentors about negotiating for the pay you deserve through our online meeting rooms!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
            <h3 class="h4 mb-2">Made with Love</h3>
            <p class="text-muted mb-0">Women supporting women. Let's break that glass ceiling!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Contact Section -->
  <section style="background-color: #7CDC92" class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Questions about negotiatHER? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@negotiatHER.com</a>
        </div>
      </div>
    </div>
  </section>

<%- include("partials/footer") %>