<%- include("partials/header") %>

  <!-- Services Section -->
<section class="page-section" id="portfolio">
    <div class="container">
      <h2 class="text-center mt-0">Complete Your Porfolio</h2>
      <hr class="divider my-4">
      
      <div style="text-align: center">

      <a href="/questionaire"><button style="align-self: center; background-color: lightgray;" type="button" class="btn btn-secondary btn-lg">Fill Questionaire</button></a>
      <br><br>
      <a href="/"><img style="width:30%; height: 30%;" src="./images/logo.PNG"> </a>
    </div>
    </div>
  </section>


  <!-- About Section -->
  <section class="page-section " style="text-align: center; background-color: #7CDC92" id="mentors">
        <div class="container" style="margin-left: auto; margin-right: auto;">
            <h1>Learn from the pros! Practice negotiating with mentors!</h1>
            <br><br>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                            <div class="card" style="width: 18rem; display: block; margin-left: auto; margin-right: auto">
                                    <h2 style="text-align: center;">Jane Smith</h2>
                                    <div class="card-body">
                                      <img style="height: 100%; width: 100%" src="images/janesmith.PNG">
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">Occupation: Technical Consultant</li>
                                      <li class="list-group-item">Employer: Bell</li>
                                    </ul>
                                    <div class="card-body">
                                      <a href="#" class="card-link" style="color: grey">Card link</a>
                                      <a href="#" class="card-link" style="color: grey">LinkedIn</a>
                                    </div>
                                  </div>
                      </div>
                      <div class="carousel-item">
                            <div class="card" style="width: 18rem; display: block; margin-left: auto; margin-right: auto">
                                    <h2 style="text-align: center;">Laura Flores</h2>
                                    <div class="card-body">
                                        <img style="height: 100%; width: 100%" src="images/lauraflores.PNG">
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">Occupation: Fullstack Developer</li>
                                      <li class="list-group-item">Employer: Scotiabank</li>
                                    </ul>
                                    <div class="card-body">
                                      <a href="#" class="card-link" style="color: grey">Card link</a>
                                      <a href="#" class="card-link" style="color: grey">LinkedIn</a>
                                    </div>
                                  </div>
                      </div>
                      <div class="carousel-item">
                            <div class="card" style="width: 18rem; display: block; margin-left: auto; margin-right: auto">
                                    <h2 style="text-align: center;">Karen Taylor</h2>
                                    <div class="card-body">
                                        <img style="height: 100%; width: 100%" src="images/karentaylor.PNG">
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">Occupation: Project Manager</li>
                                      <li class="list-group-item">Employer: TD</li>
                                    </ul>
                                    <div class="card-body">
                                      <a href="#" class="card-link" style="color: grey">Card link</a>
                                      <a href="#" class="card-link" style="color: grey">LinkedIn</a>
                                    </div>
                            </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
        </div>
  </section>


  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class=" mt-0">We've got what you need!</h2>
          <br>
          <p class=" mb-4">Expand your wealth with real-time data on current financial trends and monitor the average salary for your job!</p>          
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
            <h3 class="h4 mb-2">Financial Literacy</h3>
            <p class="text-muted mb-0">Learn how to expand your wealth with personalized banking advice in investing!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
            <h3 class="h4 mb-2">Up to Date</h3>
            <p class="text-muted mb-0">All data, from salaries to banking options, are updated in real-time.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">Be Empowered!</h3>
            <p class="text-muted mb-0">Speak with mentors about negotiating for the pay you deserve through our online meeting rooms!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
            <h3 class="h4 mb-2">Made with Love</h3>
            <p class="text-muted mb-0">Women supporting women. Let's break that glass ceiling!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Contact Section -->
  <section style="background-color: #7CDC92" class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Questions about negotiatHER? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@negotiatHER.com</a>
        </div>
      </div>
    </div>
  </section>

<%- include("partials/footer") %>
